*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //   background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: whitesmoke;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
}

.digree-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.digree-box span {
  margin-left: 10px;
  font-size: 30px;
}
.digree-box h2 {
  font-size: 40px;
}
.date {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 490px;
  height: 277px;
  padding-top: 36px;
  border-radius: 35px;
  background-color: rgba(16, 33, 54, 0.59);
  // margin: 0 auto;
  color: #fff;
  font-family: Lato;
  font-weight: 400;
  padding-top: 26 px;
}
.date__day {
  text-align: center;
  font-size: 45px;
  letter-spacing: 1px;

  color: #f7f7f7;
  font-weight: 300;
}

.date__month {
  // width: 130px;
  text-align: right;
  margin-right: 10px;
}
.date__time {
  // width: 130px;
  margin-left: 10px;
}
